# Server that serves datasets directly from disk

server {
    listen       8080 default_server;
    server_name  _;

    # By default, return 404
    location / {
        return 404;
    }

    # Disallow access to all dot-files
    location ~ /\. {
        return 404;
    }

    # Health check
    location /thredds/fileServer/healthcheck {
        return 200;
    }

    # Create a location block for each dataset
    {% for dataset in data_datasets %}
    location /thredds/fileServer/{{ dataset.path }}/ {
        {% if dataset.s3Location is defined %}
        proxy_pass https://{{ dataset.s3Location.host }}:{{ dataset.s3Location.port }}/{{ dataset.s3Location.bucket }}/{{ dataset.s3Location.dataPath.strip("/") }}/;
        {% else %}
        alias {{ dataset.location }}/;
        try_files $uri =404;
        {% endif %}
    }
    {% endfor %}
}
