---

#####
## This playbook deploys the configured hosts as ESGF nodes using Docker containers
#####

- hosts: all
  become: true
  roles:
    - docker
    - auth
    - { name: data, tags: [data] }
    - { name: index, tags: [index] }
    - proxy
