# hostname
esgf.host=$ESGF_HOSTNAME
# peer group
node.peer.group=$ESGF_PEER_GROUP
# IdP
idp.security.attribute.service.app.home=/usr/local/tomcat/webapps/esgf-idp
idp.security.attribute.service.endpoint=$ESGF_IDP_URL/esgf-idp/saml/soap/secure/attributeService.htm
idp.security.registration.service.app.home=/usr/local/tomcat/webapps/esgf-idp
idp.security.registration.service.endpoint=$ESGF_IDP_URL/esgf-idp/secure/registrationService.htm
idp.service.app.home=/usr/local/tomcat/webapps/esgf-idp
idp.service.endpoint=$ESGF_IDP_URL/esgf-idp/idp/openidServer.htm
#myproxy.app.home=/usr/local/globus/sbin/myproxy-server
#myproxy.dn=/O=ESGF/OU=my.esgf.node:8080/CN=host/my.esgf.node
#myproxy.endpoint=my.esgf.node:8080
#myproxy.port=7512
# postgres connection parameters
db.database=$ESGF_DATABASE_NAME
db.driver=org.postgresql.Driver
db.host=$ESGF_DATABASE_HOST
db.managed=no
db.port=$ESGF_DATABASE_PORT
db.protocol=jdbc:postgresql:
db.user=$ESGF_DATABASE_USER
db.password=$ESGF_DATABASE_PASSWORD
# esg-orp
orp.provider.list=/esg/config/esgf_known_providers.xml
# esg-search
index.service.app.home=/usr/local/tomcat/webapps/esg-search
index.service.endpoint=$ESGF_INDEX_NODE_URL/esg-search/search
esgf.index.peer=$ESGF_INDEX_NODE_HOSTNAME
esgf.idp.peer=$ESGF_IDP_HOSTNAME
publishing.service.app.home=/usr/local/tomcat/webapps/esg-search
publishing.service.endpoint=$ESGF_INDEX_NODE_URL/esg-search/remote/secure/client-cert/hessian/publishingService
esg.search.solr.query.url=$ESGF_SOLR_QUERY_URL/solr
esg.search.solr.publish.url=$ESGF_SOLR_PUBLISH_URL/solr
# security
security.authz.service.endpoint=$ESGF_ORP_URL/esg-orp/saml/soap/secure/authorizationService.htm
# node manager
esgf.registration.xml.download.url=http://dist.ceda.ac.uk/esgf/dist/devel/lists/registration.xml
esgf.registration.xml.path=/usr/local/esgf-dashboard-ip/bin/
# dashboard
dashboard.ip.app.home=/usr/local/esgf-dashboard-ip
dashboard.service.app.home=/usr/local/tomcat/webapps/esgf-dashboard
# short lived certificate server
short.lived.certificate.server=$ESGF_SLCS_URL
