MIDDLEWARE:
  - django.middleware.security.SecurityMiddleware
  - django.contrib.sessions.middleware.SessionMiddleware
  - django.middleware.common.CommonMiddleware
  - django.middleware.csrf.CsrfViewMiddleware
  - django.contrib.messages.middleware.MessageMiddleware
  - django.middleware.clickjacking.XFrameOptionsMiddleware
  - authenticate.oauth2.middleware.BearerTokenAuthenticationMiddleware
  - authenticate.oidc.middleware.OpenIDConnectAuthenticationMiddleware
  - authorize.opa.middleware.OPAAuthorizationMiddleware
OPA_SERVER:
  host: opa
  port: 8181
  package_path: esgf
  rule_name: allow
RESOURCE_URI_QUERY_KEY: rd
RESOURCE_URI_HEADER_KEY: HTTP_X_ORIGINAL_URL
# Group info keys for authorization
OAUTH2_GROUPS_KEY: group_membership
OIDC_GROUPS_KEY: group_membership
# OAuth Bearer Token auth settings
OAUTH_CLIENT_ID:
OAUTH_CLIENT_SECRET:
OAUTH_TOKEN_URL:
OAUTH_TOKEN_INTROSPECT_URL:
# OIDC auth settings
OIDC_BACKEND_CLIENT_NAME: esgf
AUTHLIB_OAUTH_CLIENTS:
  esgf:
    client_id:
    client_secret:
    authorize_url:
    userinfo_endpoint:
    client_kwargs:
      scope: openid profile email
